@using Syncfusion.EJ2

@{
    ViewBag.Title = "Home Page";
    double InitialRenderPages = 10;
}

<div>
    <div style="height:100%; width: 100%;">
        RetryTimeout
        @Html.EJS().PdfViewer("pdfviewer").ServiceUrl(VirtualPathUtility.ToAbsolute("~/Home/")).DocumentPath("PDF_Succinctly.pdf").InitialRenderPages(InitialRenderPages).Render()

    </div>
</div>


<style>
    #pdfviewer {
        display: block;
    }
</style>

