@{
    ViewBag.Title = "Home Page";
}

<button type="button" onclick="openBookmark()">Open Bookmark Pane</button>
<button type="button" onclick="closeBookmark()">Close Bookmark Pane</button>
<div style="width:100%;height:600px">
    @Html.EJS().PdfViewer("pdfviewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/hive-succinctly.pdf").Render()
</div>

<script>
    function openBookmark() {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.bookmarkViewModule.openBookmarkPane();
    }
    function closeBookmark() {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        // close Bookmark pane
        pdfViewer.bookmarkViewModule.closeBookmarkPane();
    }
</script>