@using Syncfusion.EJ2
@using Syncfusion.EJ2.PdfViewer
@using System.IO

@{
    ViewBag.Title = "Home Page";
}


<div style="width:100%;height:600px">
    <button type="button" onclick="signatureWithDate()">Add Signature with the time</button>
    @Html.EJS().PdfViewer("pdfviewer").ServiceUrl(VirtualPathUtility.ToAbsolute("~/Home/")).DocumentPath("PDF_Succinctly.pdf").Render()
</div>
<style>
    #pdfviewer {
        display: block;
    }

    #signature {
        border: 1px solid Black;
    }
</style>

<script>
    function signatureWithDate() {
        var viewer = document.getElementById('pdfviewer').ej2_instances[0];
        var formFields = viewer.retrieveFormFields();
        formFields[0].signatureType = 'Type';
        formFields[0].value = 'Syncfusion \n' + new Date();
        viewer.updateFormFieldsValue(formFields[0]);
    }
</script>







