@{
    ViewBag.Title = "Home Page";
    double RetryTimeout = 10;
    double RetryCount = 5;
}

<div>
    <div style="height:100%; width: 100%;">
        @Html.EJS().PdfViewer("pdfviewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf").RetryCount(RetryCount).RetryTimeout(RetryTimeout).Render()
    </div>
</div>

<style>
    #pdfviewer {
        display: block;
    }
</style>

