@using Syncfusion.EJ2
@using Syncfusion.EJ2.PdfViewer
@using System.IO
@{
    ViewBag.Title = "Home Page";
    double initialRenderPages = 10;
}

<div>
    <div style="height:100%; width: 100%;">
        @Html.EJS().PdfViewer("pdfviewer").ServiceUrl(VirtualPathUtility.ToAbsolute("~/Home/")).DocumentPath("PDF_Succinctly.pdf").InitialRenderPages(initialRenderPages).Render()
    </div>
</div>

<style>
    #pdfviewer {
        display: block;
    }
</style>

