@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Home Page";
    double initialRenderPages = 10;
}
@using Syncfusion.EJ2

<div>


    <div style="height:500px;width:100%;">
        <button type="button" onclick="signatureWithDate()">Add Signature with the time</button>
        @Html.EJS().PdfViewer("pdfviewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf").Render()
    </div>
</div>
<style>
    #pdfviewer {
        display: block;
    }

    #signature {
        border: 1px solid Black;
    }
</style>

<script type="text/javascript">
    function signatureWithDate() {
        var viewer = document.getElementById('pdfviewer').ej2_instances[0];
        var formFields = viewer.retrieveFormFields();
        formFields[0].signatureType = 'Type';
        formFields[0].value = 'Syncfusion \n' + new Date();
        viewer.updateFormFieldsValue(formFields[0]);
    }
</script>
