@{
    ViewBag.Title = "Home Page";
}

<div>
    <button type="button" onclick="openBookmark()">Open Bookmark Pane</button>
    <button type="button" closeBookmark="openBookmark()">Close Bookmark Pane</button>
    <div style="height:500px;width:100%;">
        @Html.EJS().PdfViewer("pdfviewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf").Render()
    </div>
</div>


<script>
    function openBookmark() {
        var viewer = document.getElementById('pdfViewer').ej2_instances[0];
        // Open Bookmark pane
        viewer.bookmarkViewModule.openBookmarkPane();
    }
    function closeBookmark() {
        var viewer = document.getElementById('pdfViewer').ej2_instances[0];
        // Open Bookmark pane
        viewer.bookmarkViewModule.closeBookmarkPane();
    }
</script>