@using Syncfusion.EJ2
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div style="height:500px;width:100%;">
        <button type="button" onclick="exportAsJson()">Export Annotation As Json</button>
        <button type="button" onclick="exportAsXfdf()">Export Annotation As Xfdf</button>
        <button type="button" onclick="exportAnnotation()">Export Annotation</button>
        <button type="button" onclick="importAnnotation()">Import Annotation</button>
        <!-- Render PDF Viewer using the Html helper method -->
        @Html.EJS().PdfViewer("pdfViewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf").Render()
    </div>
</div>

    <script type="text/javascript">
        var exportObject;
        //Export annotation as Json
        function exportAsJson() {
            var viewer = document.getElementById('pdfViewer').ej2_instances[0];
            viewer.exportAnnotation('Json');
        }
        //Export annotation as Xfdf
        function exportAsXfdf() {
            var viewer = document.getElementById('pdfViewer').ej2_instances[0];
            viewer.exportAnnotation('Xfdf');
        }
        //Export annotation as object.
        function exportAnnotation() {
            var viewer = document.getElementById('pdfViewer').ej2_instances[0];
            viewer.exportAnnotationsAsObject().then(function (value) {
                exportObject = value
            });
        }
        //Import annotation that are exported as object.
        function importAnnotation() {
            var viewer = document.getElementById('pdfViewer').ej2_instances[0];
            viewer.importAnnotation(JSON.parse(exportObject));
        }


    </script>
