@using Syncfusion.EJ2
@using Syncfusion.EJ2.PdfViewer
@using System.IO
@using Syncfusion.EJ2.Navigations

@{
    ViewBag.Title = "Home Page";
}

<div style="height: 900px;width:100%;">
    @Html.EJS().PdfViewer("pdfviewer").ResourceUrl("https://localhost:44386/content/ej2-pdfviewer-lib").DocumentPath("https://localhost:44386/content/pdfsuccinctly.pdf").Render()

</div>

