@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<iframe width="1200" height="600" src="https://localhost:44379/home/index" frameborder="0" allowfullscreen></iframe>
<p>Use this area to provide additional information.</p>
