@using Syncfusion.EJ2
@using Syncfusion.EJ2.PdfViewer

@{
    ViewBag.Title = "Home Page";
}

<div style="height:500px;width:100%;">
    <!--Render PDF Viewer component-->
    @Html.EJS().PdfViewer("pdfviewer").ServiceUrl(VirtualPathUtility.ToAbsolute("~/PdfViewer")).DocumentPath("FormDesigner.pdf").ExportStart("exportStart").Render()
</div>

<script>
    function exportStart() {
    //For redirect to success page in a new window 
    // Note : URL must be (https://localhost:44378/)
    window.open("PdfViewer/About");

    // For redirect to success page in a same window.
    @*var url = "@Url.Action("About","Home")";
    window.location.pathname = url;*@
    }

</script>