@{
    ViewBag.Title = "Home Page";
}

<div>
    <div style="height:500px;width:100%;">
        @Html.EJS().PdfViewer("pdfviewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf").DocumentLoad("documentLoad").Render()
    </div>
</div>


<script>
    function documentLoad() {
        var viewer = document.getElementById('pdfviewer').ej2_instances[0];
        if (Browser.isDevice && !viewer.enableDesktopMode) {
            pdfviewer.maxZoom = 200;
            pdfviewer.minZoom = 10;
        }
        else{
            pdfviewer.zoomMode = 'Default';
        }
    }
 </script>